# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# creating tuple with first 10 positive numbers
numbers = (1,2,3,4,5,6,7,8,9,10)
print("Tuple of numbers:", numbers)

Tuple of numbers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# printing first, middle and last element
print("First:", numbers[0])
print("Middle:", numbers[len(numbers)//2])
print("Last:", numbers[-1])

First: 1
Middle: 6
Last: 10

In [3]:
print("First three:", numbers[:3])
print("Last three:", numbers[-3:])
print("From index 2 to 5:", numbers[2:6])

First three: (1, 2, 3)
Last three: (8, 9, 10)
From index 2 to 5: (3, 4, 5, 6)

In [4]:
# 3x3 matrix using nested tuple
matrix = ((1,2,3),(4,5,6),(7,8,9))
print("Matrix:")
for row in matrix:
    print(row)
print("Element at 2nd row, 3rd column:", matrix[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at 2nd row, 3rd column: 6

In [5]:
a = (1,2,3)
b = (4,5,6)
c = a + b
print("After joining:", c)

After joining: (1, 2, 3, 4, 5, 6)

In [6]:
t = (1,2,2,3,4,2,5)
print("Count of 2:", t.count(2))
print("Index of 3:", t.index(3))

Count of 2: 3
Index of 3: 3

In [7]:
my_tuple = (10, 20, 30, 40, 50)
a, b, c, d, e = my_tuple
print(a, b, c, d, e)

10 20 30 40 50

In [8]:
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4, 5)

In [9]:
tt = ((1,2,3),(4,5,6),(7,8,9))
print("Tuple of tuples:", tt)

Tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [10]:
t = (1,2,3,4,5)
lst = list(t)
lst.append(6)
t = tuple(lst)
print("After adding 6:", t)

After adding 6: (1, 2, 3, 4, 5, 6)

In [11]:
word = "hello"
tup = tuple(word)
print("Tuple:", tup)
joined = ''.join(tup)
print("String:", joined)

Tuple: ('h', 'e', 'l', 'l', 'o')
String: hello

In [12]:
my_dict = { (1,2): 10, (3,4): 20, (5,6): 30 }
print("Dictionary with tuple keys:", my_dict)

Dictionary with tuple keys: {(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [13]:
nest = ((1,2),(3,4),(5,6))
for tup in nest:
    for val in tup:
        print(val)

1
2
3
4
5
6

In [14]:
dup_tup = (1,2,2,3,3,4,4)
no_dup = set(dup_tup)
print("After removing duplicates:", no_dup)

After removing duplicates: {1, 2, 3, 4}

In [15]:
def tuple_details(t):
    print("Minimum:", min(t))
    print("Maximum:", max(t))
    print("Sum:", sum(t))

sample = (2,4,6,8,10)
tuple_details(sample)

Minimum: 2
Maximum: 10
Sum: 30